:host{
  height: 100%;
  display: flex;
  flex-direction: column;

.main-container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
}
.app-card{
  margin: 0.4rem;
}

.fas{
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
