<mat-toolbar color="primary">
  <mat-toolbar-row>
    <i class="fas fa-robot"></i>
    BERT interface
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="main-container">
  <mat-drawer-content>
      <mat-card class="app-card">
        <app-words-distance></app-words-distance>
      </mat-card>
      <mat-card class="app-card">
        <app-nearby-words></app-nearby-words>
      </mat-card>
      <mat-card class="app-card">
        <app-central-word></app-central-word>
      </mat-card>
  </mat-drawer-content>
</mat-drawer-container>

